.main-container{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
}
input[type="radio"] {
    margin-left:1.1rem;
  }
  .component1{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

  }
  hr{
    width:45%;
    background-color: black;
  }
  .textcolor{
    color:purple;
  }
  .component2{
    display:flex;
    flex-direction: column;
    padding-top: 4rem;
  }
  .compp2{
    display: flex;
    align-items: center;
    justify-content:center;
  }
  .component3{
    display:grid;
    /* flex-direction:row; */
    /* grid-row: auto auto auto auto; */
    grid-template-columns: auto auto auto auto auto auto;
    /* border: 5px solid black; */
    padding: 10px;
    /* margin:10px; */
    justify-content: space-around;

  }
  .arrow:hover{
    color:red;
    /* height:10px; */
  }
  .compp2
  {
    height: 10vh;
  }
  h1:hover{
    color:#F96666;
    font-size:2.1rem;
  }
  @media screen and (max-width: 800px) {
    .component3 {
      display:grid;
      grid-template-columns: auto auto auto;
      /* padding: 2rem; */
    }
  }
  @media screen and (max-width:490px){
    .compp2{
      font-size:0.7rem;
      /* align-items: space-around; */
    }
  }
  @media screen and (max-width: 450px) {
    .component3 {
      display:grid;
      grid-template-columns: auto auto;
      /* padding: 2rem; */
    }
  }
  @media screen and (max-width:350px){
    .compp2{
      font-size:0.6rem;
      align-items: space-around;
    }
  }